<div *ngIf="currentUser.role">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <h3>All Audit users:</h3>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Last Login</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }} {{user.lastName}}</td>
                <td>{{ user.lastlogin }}</td>
            </tr>
        </tbody>

    </table>
</div>

<div *ngIf="!currentUser.role">
    Not Found
</div>

<!-- <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} {{element.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Last login time </th>
            <td mat-cell *matCellDef="let element"> {{element.lastlogin}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div> -->